<h1> To - Do List App </h1>

<div class="task">
    <%= render 'form' %>

    <div class="search-task">
        <%= search_form_for @q, url: tasks_path, method: :get do |f| %>
            <%= f.label :title_cont, "Search Task" %>
            <%= f.search_field :title_cont, placeholder: "Enter Task Name" %>
            <%= f.submit "Search" %>
        <% end %>
    </div>
</div>

<br>

<div class="container">
    <table>
        <thead>
            <tr>
                <th> S.No. </th>
                <th> Task Name </th>
                <th> Deadline </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>

        <tbody id="task-list">
            <% @tasks.each_with_index do |task, index| %>
                <tr> 
                    <td> <%= (@tasks.current_page - 1) * @tasks.per_page + index + 1 %> </td>
                    <td> <p><%= task.title %></p> </td>
                    <td> <p> <%= task.deadline %> </p> </td>

                    <td> <%= button_to 'Edit', edit_task_path(task), method: :get %></td>
                    <td> <%= button_to 'Delete', task_path(task), method: :delete, data: { turbo_confirm: "Are you sure?" } %> </td> 
                </tr>
            <% end %>
        </tbody>        
    </table>
</div>

<br>
<br>

<div style="float :right">
    <%= will_paginate @articles %>
</div>

<%= stylesheet_link_tag "task_list" %>
